                    <properties>
                        <property>
                            <name>maven.testng.output.dir</name>
                            <value>${project.basedir}/target/surefire-reports</value>
                        </property>
                    </properties>
                    <useSystemClassLoader>false</useSystemClassLoader>
                    <additionalClasspathElements>
                        <element>${project.build.testOutputDirectory}/xwork-jar.jar</element>
                        <element>${project.build.testOutputDirectory}/xwork-zip.zip</element>
                        <element>${project.build.testOutputDirectory}/xwork - jar.jar</element>
                        <element>${project.build.testOutputDirectory}/xwork - zip.zip</element>
                    </additionalClasspathElements>
                    <includes>
                        <include>**/*Test.java</include>
                    </includes>
                    <excludes>
                        <exclude>**/XWorkTestCase.java</exclude>
                        <exclude>**/TestBean.java</exclude>
                        <exclude>**/TestBean2.java</exclude>
                        <exclude>**/TestInterceptor.java</exclude>
                        <exclude>**/AnnotatedTestBean.java</exclude>
                        <exclude>**/ContainerImplTest.java</exclude>
                        <exclude>**/URLUtilTest.java</exclude>
                    </excludes>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>cobertura-maven-plugin</artifactId>
                <version>2.4</version>
                <executions>
                    <execution>